# Database and Query Handling
psycopg2-binary
SQLAlchemy==2.0.36
snowflake-connector-python==3.12.4

# Data Processing
pandas==2.1.0
numpy==1.24.0
pyarrow==18.1.0

# AWS Integration
boto3==1.35.77

# Environment Management
python-dotenv==1.0.1

# Data Generation (for Testing/Mock Data)
faker==19.3.0

# dbt
dbt-core==1.8.9
dbt-snowflake==1.9.0